.readings {
  &__content {
    &-items {
      @include Reaponsive(tablet) {
        max-width: 100% !important;
        height: 100% !important;
      }
      max-width: 32rem;
      height: 27rem;
    }
  }
}
