//!----------------- Width Project ----------------//
.container2xl {
  width: 80vw;
  margin: auto;
  @include Reaponsive(tablet) {
    width: 98vw;
  }
}

//!----------------- Flex Class ----------------//

.flex-center {
  @include centerizeTag();
}
.flex-between {
  @include centerizeTag($justify: space-between);
}

//!----------------- Position Class ----------------//

.position-center {
  @include positionCenter();
}

//!----------------- Font-Size Class ----------------//
.fs-1 {
  font-size: $fs-1 !important;
}
.fs-2 {
  font-size: $fs-2 !important;
}
.fs-3 {
  font-size: $fs-3 !important;
}
.fs-4 {
  font-size: $fs-4 !important;
}
.fs-5 {
  font-size: $fs-5 !important;
}
.text-justify {
  text-align: justify;
}
.fs-1-5 {
  font-size: $fs-1-5 !important;
}
.fs-2-5 {
  font-size: $fs-2-5 !important;
}
.fs-3-5 {
  font-size: $fs-3-5 !important;
}
.fs-4-5 {
  font-size: $fs-4-5 !important;
}
.fs-5-5 {
  font-size: $fs-5-5 !important;
}
//!----------------- Width Class ----------------//
.w-10 {
  width: $w-10;
}
.w-20 {
  width: $w-20;
}
.w-30 {
  width: $w-30;
}
.w-40 {
  width: $w-40;
}
.w-50 {
  width: $w-50;
}
.w-60 {
  width: $w-60;
}
.w-70 {
  width: $w-70;
}
.w-80 {
  width: $w-80;
}
.w-90 {
  width: $w-90;
}
.w-100 {
  width: $w-100;
}
//!----------------- ellipsis Class ----------------//
.elilipsis-1 {
  @include linebreak(1);
}
.elilipsis-2 {
  @include linebreak();
}
.elilipsis-3 {
  @include linebreak(3);
}
