//!------------------- Import Fonts---------------------//

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 500;
  src: url(../Fonts/Vazir/Vazir-Medium.ttf) format("ttf"),
    url(../Fonts/Vazir/Vazir-Medium.woff) format("woff"),
    url(../Fonts/Vazir/Vazir-Medium.eot?#iefix) format("eot");
}

@font-face {
  font-family: yekan;
  font-style: normal;
  font-weight: 500;
  src: url(../Fonts/Yekan/yekan-regular.ttf) format("ttf"),
    url(../Fonts/Yekan/yekan-regular.woff) format("woff"),
    url(../Fonts/Yekan/yekan-regular.eot?#iefix) format("eot");
}
